/* Header.css */
.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    font-size: 24px;
    color: #333;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-link {
    margin-left: 20px;
    text-decoration: underline; 
    color: #007bff;
    font-size: 16px;
  }
  
  
  .active-link {
    font-weight: bold;
    color: #0056b3;
  }
  